[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "==7.4.3"
pytest-xdist = "==3.3.1"
pytest-testinfra = "==10.0.0"
black = "==23.11.0"

[requires]
python_version = "3"
